
p,div{
    text-align: justify;
}
.heighlite{
    background-color: yellow;
}

.overline{
    text-decoration: overline;
}
img{
    width: 80%;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
@media only screen and (max-width:767px) {
    body{
        padding: 8px;
    }
    img,video{
        width: 100%;
    }
}
video{
    width: 80%;
}

@media(prefers-color-scheme:dark){
    body{
        background-color: rgb(3, 2, 2);
        color: azure;
    }
    video{
        width: 100%;
    }
}
