
p,div{
    text-align: justify;
}
.heighlite{
    background-color: rgba(121, 121, 43, 0.78);
}

.overline{
    text-decoration: overline;
}
img{
    width: 80%;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
ol{
    list-style-position: inside;
}
/*styling for chapterlists*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: rows;
    min-height: 100vh;
}
.chapter-list{
    order: 1;
    background-color: rgb(161, 158, 158);
    transition: all .3s ease-in-out;
    flex: 1 .5 200px;
}
.content-area{
    order: 2;
    flex: 1 0 60%;
    padding: 8px;
}
.heading-list{
    padding: 23px;
    order: 3;
    background-color: rgb(161, 158, 158);
    flex: 1 .5 200px;
    transition: right .3s ease-in-out;
}
@media (max-width:600px){
    .chapter-list{
        width: 160px;
    }
    .heading-list{
        position: fixed;
        width: 100%;
        top: 0px;
        bottom: 0px;
        right: -100%;
        z-index: 9999999;
    }
}
@media (max-width:500px){
	.chapter-list{
        position: fixed;
        width: 100%;
        left: -100%;
        top: 0px;
        bottom: 0px;
        z-index: 99999999;
    }
    .content-area{
        width: 100%;
        min-height: 100vh;
        height: 100vh;
    }
}
@media only screen and (max-width:767px) {
    body{
        padding: 8px;
    }
    img,video{
        width: 100%;
    }
}
video{
    width: 80%;
}

@media(prefers-color-scheme:dark){
    body{
        background-color: rgb(36, 30, 30);
        color: azure;
    }
    video{
        width: 100%;
    }
}
