
p,div{
    text-align: justify;
}
.heilight{
    background-color: yellow;
}

.overline{
    text-decoration: overline;
}
.image{
    width: 50%;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}