{% load static %}
{% load custom_filter %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Raj Singh">
    <meta name="robots" content="noindex">
    <meta name="og:image" content="https://notepaper.pythonanywhere.com/static/images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href={% static "css/prism.css" %}>
    <link rel="stylesheet" href={% static "css/md.css" %}>
    <title>{{ title }}</title>
</head>
<body>
    
    <main class="content-area">
        {%for tag in html%}{%if tag|is_img%}
        <img src="{% static  tag|media %}" width="100%">{%elif tag|is_video%} <video src="{% static  tag|media %}" autoplay muted loop width="50%">your device donot support video</video>{%else%}
        {{tag|safe}}{%endif%}{%endfor%}
    </main>
    <aside class="chapter-list">
    </aside>
    <aside class="heading-list"></aside>
    <script src="{% static "js/paper.js" %}"></script>
    <script src={% static "js/prism.js" %}></script>
</body>
</html>