*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  
header{
    display: flex;
    flex-direction: column;
}
.search-section{
    text-align: center;
   
}
.logo-section{
    padding: 4px;
    display: flex;
    align-items: center;
}
.logo,.org-name{
    width: 43px;
    font-size: 28px;
}
.search-box{
    display: flex;
    margin: 8px;
}
.search-input,.search-button{
    padding: 0;
    height: 35px;
    background-color: #edf6fd;
    border-width: 0px;
    font-size: 16px;
    padding: 10px;
}
.search-input{
    border-top-left-radius:80px;
    border-bottom-left-radius: 80px;
    width: 95%;
    box-shadow: 8px black;
}
.search-input{
    outline: none;
}
.search-button{
    border-top-right-radius:80px;
    border-bottom-right-radius: 80px;
    width: 5;
}

footer{
    box-shadow: -4px;
    width: 100%;
    position: fixed;
    background-color: white;
    bottom: 0;
}
.menu{
    display: flex;
    flex-shrink: 2;
    justify-content: space-around;
}
.menu{
    list-style: none;
}
.menu-button{
    padding: 4px;
    border-style: none;
    background-color: inherit;
    text-align: center;
    margin-bottom: 6px;
}
.menu-icon{
    padding: 6px 0 6px 0;
    width:7ch;
    height: 5ch;
}
.menu-icon,.icon-button-text{
    transition: color 190ms;
}

.menu-button:hover{
    border-radius: 6px;
    background-color: gainsboro;
}
.icon-button-text{
    padding: 3px;
    border-radius: 10px;
}

.main-section{
    padding: 10px;
    width: 100%;

}
.main-content{
    gap: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.buffer-animation-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#retry-button{
    padding: 5px 12px;
    margin-top: 5px;
    background-color: skyblue;
    color: whitesmoke;
    border-style: none;
}
#retry-button:active{
    background-color: rgb(136, 187, 207);
}